---

- name: Fail if multiple mutually exclusive keys are defined
  ansible.builtin.fail:
    msg: "Only one of 'src', 'content', or 'template' can be defined per item."
  when: >
    ([item.src, item.content, item.template] | select('defined') | length) > 1
  tags: docker_compose

- name: Create directory
  ansible.builtin.file:
    path: '{{ docker_compose_path }}/{{ item.dest }}'
    state: directory
    owner: '{{ item.owner | default(docker_compose_owner, true) }}'
    group: '{{ item.group | default(docker_compose_group, true) }}'
    mode: "{{ item.mode | default('0755', true) }}"
  when: item.src is not defined and item.content is not defined and item.template is not defined
  notify: docker compose recreate
  tags: docker_compose

- name: Copy file or directory
  ansible.builtin.copy:
    src: '{{ item.src }}'
    dest: '{{ docker_compose_path }}/{{ item.dest }}'
    owner: '{{ item.owner | default(docker_compose_owner, true) }}'
    group: '{{ item.group | default(docker_compose_group, true) }}'
    mode: "{{ item.mode | default('preserve', true) }}"
    force: true
  when: item.src is defined
  notify: docker compose recreate
  tags: docker_compose

- name: Create file from content
  ansible.builtin.copy:
    content: '{{ item.content }}'
    dest: '{{ docker_compose_path }}/{{ item.dest }}'
    owner: '{{ item.owner | default(docker_compose_owner, true) }}'
    group: '{{ item.group | default(docker_compose_group, true) }}'
    mode: "{{ item.mode | default('0400', true) }}"
    force: true
  when: item.content is defined
  notify: docker compose recreate
  tags: docker_compose

- name: Create file from template
  ansible.builtin.template:
    src: '{{ item.template }}'
    dest: '{{ docker_compose_path }}/{{ item.dest }}'
    owner: '{{ item.owner | default(docker_compose_owner, true) }}'
    group: '{{ item.group | default(docker_compose_group, true) }}'
    mode: "{{ item.mode | default('0400', true) }}"
    force: true
  when: item.template is defined
  notify: docker compose recreate
  tags: docker_compose
