---

- name: save iptables rules
  ansible.builtin.command:
    cmd: iptables-save -f /etc/iptables/rules.v4

- name: save ip6tables rules
  ansible.builtin.command:
    cmd: ip6tables-save -f /etc/iptables/rules.v6
