---

- name: Uninstall conflicting packages
  ansible.builtin.apt:
    name:
      - docker.io
      - docker-compose
      - docker-compose-v2
      - docker-doc
      - podman-docker
      - containerd
      - runc
    state: absent
  tags: docker

- name: Install required packages
  ansible.builtin.apt:
    name:
      - ca-certificates
      - curl
    state: present
    update_cache: '{{ apt_update_cache }}'
    cache_valid_time: '{{ apt_cache_valid_time }}'
  tags: docker

- name: Download official GPG key
  ansible.builtin.get_url:
    url: 'https://download.docker.com/linux/ubuntu/gpg'
    dest: /etc/apt/keyrings/docker.asc
    owner: root
    group: root
    mode: 0644
  register: docker_gpg_key
  tags: docker

- name: Determine APT repository architecture
  vars:
    arch_map:
      x86_64: amd64
      aarch64: arm64
      armv7l: armhf
      armv6l: armhf
      ppc64le: ppc64el
  set_fact:
    apt_arch: '{{ arch_map[ansible_architecture] | default(ansible_architecture) }}'

- name: Add repository to sources list
  ansible.builtin.apt_repository:
    repo: 'deb [arch={{ apt_arch }} signed-by={{ docker_gpg_key.dest }}] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable'
    state: present
    filename: docker
  tags: docker

- name: Install Docker
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: "{{ 'latest' if apt_update_latest else 'present' }}"
    update_cache: true
  tags:
    - docker
    - update

- name: Enable Docker on boot
  ansible.builtin.systemd_service:
    name: '{{ item }}.service'
    enabled: true
  loop:
    - docker
    - containerd
  tags: docker
