---

- name: Add user authorized keys
  ansible.posix.authorized_key:
    user: '{{ ansible_user }}'
    state: present
    key: "{{ ssh_authorized_keys | default('', true) }}"
    exclusive: '{{ ssh_authorized_keys_exclusive }}'
  tags: ssh

- name: Deploy SSHD configuration overrides
  ansible.builtin.template:
    src: sshd_config.conf.j2
    dest: /etc/ssh/sshd_config.d/99-ansible-settings.conf
    owner: root
    group: root
    mode: '0644'
  notify: restart ssh.service
  tags: ssh
