---

- name: Update package cache
  ansible.builtin.apt:
    update_cache: "{{ apt_update_cache }}"
    cache_valid_time: "{{ apt_cache_valid_time }}"
  tags:
    - packages
    - update

- name: Upgrade installed packages
  ansible.builtin.apt:
    upgrade: safe
  register: _apt_upgrade_result
  tags:
    - packages
    - update

- name: Install essential packages
  ansible.builtin.apt:
    name: "{{ packages }}"
    state: present
  register: _apt_install_result
  tags: packages

- name: Remove old packages from cache
  ansible.builtin.apt:
    autoclean: yes
  tags:
    - packages
    - update

- name: Remove unused dependency packages
  ansible.builtin.apt:
    autoremove: yes
    purge: yes
  register: _apt_remove_result
  tags:
    - packages
    - update

- name: Find packages changed today
  ansible.builtin.shell:
    cmd: grep -E "^$(date +%Y-%m-%d).+ (install|upgrade|remove|purge) " /var/log/dpkg.log | cut -d ' ' -f 3-5
  register: _dpkg_changes
  changed_when: false
  tags:
    - packages
    - update

- name: Print summary of changed packages
  ansible.builtin.debug:
    msg: "{{ _dpkg_changes.stdout_lines }}"
  when: _dpkg_changes.stdout_lines | length > 0
  changed_when: >
    (_apt_upgrade_result is defined and _apt_upgrade_result.changed) or
    (_apt_install_result is defined and _apt_install_result.changed) or
    (_apt_remove_result is defined and _apt_remove_result.changed)
  tags:
    - packages
    - update
