---

- name: Set internal configuration variables
  ansible.builtin.set_fact:
    _pck: '{{ item.key }}'
    _pcv: "{% if (item.value | type_debug) == 'list' %}[ {{ item.value | join(', ')}} ]{% else %}{{ item.value }}{% endif %}"
    _pcj: "{% if (item.value | type_debug) == 'list' %}{{ item.value | to_json }}{% else %}{{ item.value }}{% endif %}"
  tags: pihole

- name: Get Pi-hole configuration for {{ _pck }}
  ansible.builtin.command:
    cmd: pihole-FTL --config {{ _pck }}
  register: _piholeftl_config
  changed_when: false
  tags: pihole

- name: Set Pi-hole configuration for {{ _pck }}
  ansible.builtin.command:
    cmd: pihole-FTL --config {{ _pck }} '{{ _pcj }}'
  when: (_pcv | string | lower) != (_piholeftl_config.stdout | lower)
  notify: restart pihole-FTL.service
  tags: pihole
