---

- name: Get stats of Pi-hole binary
  ansible.builtin.stat:
    path: /usr/local/bin/pihole
  register: _pihole_binary
  tags:
    - pihole
    - update

- name: Create Pi-hole directory
  ansible.builtin.file:
    path: /etc/pihole
    state: directory
  tags: pihole

- name: Create Pi-hole configuration file
  ansible.builtin.file:
    path: /etc/pihole/pihole.toml
    state: touch
    access_time: preserve
    modification_time: preserve
  tags: pihole

- name: Install Pi-hole
  ansible.builtin.shell: "curl -sSL https://install.pi-hole.net | PIHOLE_SKIP_OS_CHECK={{ pihole_skip_os_check | to_json }} bash /dev/stdin --unattended"
  register: _pihole_install
  when: not _pihole_binary.stat.exists | default(false)
  failed_when: _pihole_install.stderr_lines | difference(pihole_install_ignore_errors) | length
  tags: pihole

- name: Update Pi-hole
  ansible.builtin.command:
    cmd: pihole updatePihole
  register: _pihole_update
  changed_when: '"update available" in _pihole_update.stdout'
  when: _pihole_binary.stat.exists | default(false)
  notify: restart pihole-FTL.service
  tags:
    - pihole
    - update

- name: Apply Pi-hole configuration
  include_tasks: config.yaml
  when: (item.key | default('', true) | string | length > 0) and item.value is defined
  loop: "{{ pihole_config | default([], true) }}"
  no_log: true
  tags: pihole
