---

- name: Get stats of reboot-required
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: _reboot_required
  when: not reboot_always
  tags:
    - reboot
    - update

- name: Flush pending handlers before reboot
  ansible.builtin.meta: flush_handlers
  when: reboot_always or _reboot_required.stat.exists
  tags:
    - reboot
    - update

- name: Reboot host if required
  ansible.builtin.reboot:
    msg: Host reboot initiated by Ansible
    reboot_timeout: 600
    post_reboot_delay: 30
    test_command: uptime
  when: reboot_always or _reboot_required.stat.exists
  tags:
    - reboot
    - update
