---

- name: Get installed kubectl version
  ansible.builtin.command:
    cmd: kubectl version --client -o json
  register: _kubectl_installed
  failed_when: false
  changed_when: false
  tags:
    - kubectl
    - update

- name: Set installed kubectl version
  ansible.builtin.set_fact:
    _kubectl_installed_version: "{{ (_kubectl_installed.stdout | default('{}', true) | from_json).clientVersion.gitVersion | default('') }}"
  tags:
    - kubectl
    - update

- name: Determine target kubectl version
  block:
    - name: Get latest kubectl stable version
      ansible.builtin.uri:
        url: https://dl.k8s.io/release/stable.txt
        return_content: true
      register: _kubectl_latest

    - name: Set kubectl target version
      ansible.builtin.set_fact:
        kubectl_version: '{{ _kubectl_latest.content | trim }}'
  when: kubectl_version is not defined or kubectl_version in [None, '']
  tags:
    - kubectl
    - update

- name: Determine kubectl architecture
  vars:
    arch_map:
      x86_64: amd64
      aarch64: arm64
  ansible.builtin.set_fact:
    _kubectl_arch: '{{ arch_map[ansible_architecture] | default(ansible_architecture) }}'
  tags: docker

- name: Install kubectl binary
  ansible.builtin.get_url:
    url: 'https://dl.k8s.io/release/{{ kubectl_version }}/bin/linux/{{ _kubectl_arch }}/kubectl'
    dest: /usr/local/bin/kubectl
    checksum: 'sha256:https://dl.k8s.io/release/{{ kubectl_version }}/bin/linux/{{ _kubectl_arch }}/kubectl.sha256'
    owner: root
    group: root
    mode: '0755'
  register: _kubectl_binary
  when:
    - kubectl_version != _kubectl_installed_version
  tags:
    - kubectl
    - update

- name: Show kubectl version change
  ansible.builtin.debug:
    msg: 'Kubectl version changed from {{ _kubectl_installed_version }} to {{ kubectl_version }}'
  when:
    - _kubectl_installed_version | length > 0
    - _kubectl_binary is changed
  changed_when: true
  tags:
    - kubectl
    - update
