---

- name: Set system timezone
  community.general.timezone:
    name: "{{ timezone }}"
  tags: time

- name: Configure NTP server in timesyncd
  ansible.builtin.lineinfile:
    dest: /etc/systemd/timesyncd.conf
    regexp: "^NTP="
    line: "NTP={{ ntp }}"
    state: present
  notify: restart timesyncd.service
  tags: time

- name: Configure fallback NTP server in timesyncd
  ansible.builtin.lineinfile:
    dest: /etc/systemd/timesyncd.conf
    regexp: "^FallbackNTP="
    line: "FallbackNTP={{ ntp_fallback }}"
    state: present
  when: ntp_fallback
  notify: restart timesyncd.service
  tags: time
